In [1]:
import pandas as pd

In [2]:
url = 'https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M'

In [3]:
data = pd.read_html(url)

In [4]:
data[0].head()

  Postal Code           Borough              Neighbourhood
0         M1A      Not assigned               Not assigned
1         M2A      Not assigned               Not assigned
2         M3A        North York                  Parkwoods
3         M4A        North York           Victoria Village
4         M5A  Downtown Toronto  Regent Park, Harbourfront

In [5]:
df = data[0]

In [6]:
df.head()

  Postal Code           Borough              Neighbourhood
0         M1A      Not assigned               Not assigned
1         M2A      Not assigned               Not assigned
2         M3A        North York                  Parkwoods
3         M4A        North York           Victoria Village
4         M5A  Downtown Toronto  Regent Park, Harbourfront

In [7]:
df.describe()

       Postal Code       Borough Neighbourhood
count          180           180           180
unique         180            11           100
top            M4Y  Not assigned  Not assigned
freq             1            77            77

In [8]:
df.loc[df['Postal Code'] == 'Not assigned']

Empty DataFrame
Columns: [Postal Code, Borough, Neighbourhood]
Index: []

In [9]:
df.loc[df['Borough'] == 'Not assigned'].shape

(77, 3)

In [10]:
df.loc[df['Neighbourhood'] == 'Not assigned'].shape

(77, 3)

In [11]:
cdf = df.loc[df['Borough'] != 'Not assigned']

In [12]:
cdf

,Postal Code,Borough,Neighbourhood
2,M3A,North York,Parkwoods
3,M4A,North York,Victoria Village
4,M5A,Downtown Toronto,"Regent Park, Harbourfront"
5,M6A,North York,"Lawrence Manor, Lawrence Heights"
6,M7A,Downtown Toronto,"Queen's Park, Ontario Provincial Government"
...,...,...,...
160,M8X,Etobicoke,"The Kingsway, Montgomery Road, Old Mill North"
165,M4Y,Downtown Toronto,Church and Wellesley
168,M7Y,East Toronto,"Business reply mail Processing Centre, South C..."
169,M8Y,Etobicoke,"Old Mill South, King's Mill Park, Sunnylea, Hu..."
178,M8Z,Etobicoke,"Mimico NW, The Queensway West, South of Bloor,..."

In [13]:
cdf = cdf.sort_values(by='Postal Code')

In [14]:
cdf.head()

   Postal Code      Borough                           Neighbourhood
9          M1B  Scarborough                          Malvern, Rouge
18         M1C  Scarborough  Rouge Hill, Port Union, Highland Creek
27         M1E  Scarborough       Guildwood, Morningside, West Hill
36         M1G  Scarborough                                  Woburn
45         M1H  Scarborough                               Cedarbrae

## cleaned the data

In [15]:
cdf['Postal Code'].describe()

count     103
unique    103
top       M4Y
freq        1
Name: Postal Code, dtype: object

In [16]:
cdf.shape

(103, 3)

In [17]:
cdf.to_csv('toronto.csv',index=False)